

@{
    ViewBag.Title = "Question5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Question5</h2>


<div>
    <h2>What is the use of view model in MVC and how to pass model view to another partial view </h2>

    <h3>ViewModel</h3>
    <p class="text-justify">
        View Model is a class in our application which contains fields that we want to show in our view.We can also use validation in this View Model.
        Multiple Data Model attributes can be clubbed in single view model according to the requirement.To use this viewModel in our view we have to write it at the top of the view with the help of model and specifying the path of the file.

    </p>
    <p class="text-justify">
        <h3>how to pass model view to another partial view </h3>

        To pass data from view Model to partial view,first save the data in a variable and then pass that variable to the view for example:

        var detail = login.Detail(id);
        return View(detail);

        Now,in the view use Html.Partial or Html.RenderPartial in the first argument mention the name of the partial view which is to be used and as the second argument pass the model.

        Further in partial view we have to mention the name of the model so that it can use the model to render the data.

    </p>


</div>

