
@page "/AddNav"


@using AdvanceBlazor.Data
@inject NavServices navservices
@inject NavigationManager navigationManager


<form>
    <div class="row">
        <div class="col-md-10">
            <div class=" form-group">
                <label for="Name" class="control-label">CategoryName</label>
                <input form="Name" class="form-control" @bind="@objnavBarInfo.Name" />
            </div>

            <div class=" form-group">
                <label for="Email" class="control-label">Reference</label>
                <input form="Email" class="form-control" @bind="@objnavBarInfo.Reference" />
            </div>



        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@AddNavBar" value="Add" />
                <input type="button" class="btn btn-primary" @onclick="@Cancel" value="cancel" />

            </div>
        </div>
    </div>
</form>


@code {
    Nav objnavBarInfo = new Nav();

    protected void AddNavBar()
    {
        navservices.AddNavBar(objnavBarInfo);
        navigationManager.NavigateTo("/Index");
    }
    void Cancel()
    {
        navigationManager.NavigateTo("/Index");
    }


}
