@page "/"
@page "/LoginData"
@layout LoginLayout
@using AdvanceBlazor.Shared
@inject LoginServices loginservices
@using AdvanceBlazor.Data
@inject ApplicationDbContext db
@inject NavigationManager navigationManager

<h2>login</h2>
<hr />
<form>
    <div class="row">
        <div class="col-md-8">
            <div class=" form-group">
                <label for=" Name" class="control-label">Name</label>
                <input form="Name" class="form-control" @bind="@login.Username" />

            </div>
            <div class=" form-group">
                <label for=" Password" class="control-label">Password</label>
                <input form="Password" class="form-control" @bind="@login.Password" />
            </div>
        </div>







    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@LoginDashboard" value="save" />
                <input type="button" class="btn btn-primary" @onclick="@Signup" value="signup" />
            </div>

        </div>

    </div>
</form>

@code {



    Login login = new Login();
    protected void LoginDashboard()
    {
        var Details = db.Logins.Where(x => x.Username == login.Username && x.Password == login.Password).FirstOrDefault();
        if (Details == null)
        {
            navigationManager.NavigateTo("/LoginData");
        }

        else
        {
            navigationManager.NavigateTo("/Index");
        }
    }
    void Signup()
    {
        navigationManager.NavigateTo("/Loginuser");
    }
}

