@page "/ques2"

<h3>Ques 2: What is the component and component parameter?</h3>

<br />
<br />
<br />
<h4>Component</h4>
<br />
<p>
    Blazor app are build using components. Components are implemented in .razor component files using a combination of C# and HTML.
    Component name must always start with the upperCase letter. members of the component class are defined under the function section.
    We can include the one component into the other.
</p>

<h4>Component Parameter</h4>
<br />
<p>
    If we want to share data between child and parent componet then we will use the component parameter.
</p>