@page "/ques1"

<h3>Ques 1: Difference between the Blazor client-side and server-side and also explain web assembly and Signal R connection?</h3>

<br />
<br />
<br />
<div>
    <h4>Blazor client side</h4>
    <p>
        Blazor is a framework designed to run the client side in the browser on a web assembly based model that .net runtime provides.
        All the dependencies and the runtime is downloaded in the browser.The app is directly executed on the browser without using server communication.
    </p>

    <h4>Blazor server side</h4>
    <p>
        In blazor servide side blazor app is executed on the server. Event handling and all the task are handled by the signal r connection.
        It creates the signal R endpoint where the client can connect.
    </p>
</div>