@page "/ques3"

<h3>Ques 3: Explain the Life cycle with example.</h3>



<p>1) OnIntialized</p>
<p>2) OnIntializedAsync</p>
<p>3) OnParameterSet</p>
<p>4) OnParamterSetAsync</p>
<p>5) OnAfterRender</p>
<p>6) OnAfterRenderAsync</p>
<p>7) ShouldRender</p>


<p>=> OnInitialized is first called then OnIntializedAsync.It is executed when the component is completely loaded.</p>
<p> => OnParameterSet and OnParameterSetAsync is called each time a new and updated parameters are recieved from the parents.</p>
<p>=> OnAfterRender and OnAfterRenderAsync are called after each render of the component.</p>
<p>=> ShouldRender method return a boolean type value it returns true for refresh otherwise false.</p>

