@using System.Web.Optimization;

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!Doctype html>
<html>
<head>
    <title>Home Page</title>
    @Styles.Render("~/bundles/bootstrap")
</head>
<body>
    <div class="container-fluid">
        <div class="container  pt-3 p-3 my-3 bg-light text-dark">
            <h1>Home</h1>
            <p>
                Home page
                <br />


                In order to proceed clickon the navlink "Questions".
                <br />
            </p>
        </div>
    </div>
</body>
</html>

