@using AdvanceBlazor.Data
@inject NavServices navservices



<div class="sidebar">
    <NavLink class="nav-link" href="AddNav">
        <span class="oi oi-plus" aria-hidden="true"></span>
        add new NavMenu


    </NavLink>
    @if (navs == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {

        @foreach (var category in navs)
        {

            <ul class="nav flex-column">
                <li class="nav-item px-3">
                    <a class="nav-link" href="@category.Reference">
                        <span class="oi oi-book" aria-hidden="true"></span>@category.Name
                    </a>
                </li>
            </ul>
        }


    }

</div>

@code
{
    List<Nav> navs;
    protected override async Task OnInitializedAsync()
    {
        navs = await Task.Run(() => navservices.GetNav());
    }

}